.naturalmaterials-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.naturalmaterials-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #f5ecdd;
}
.naturalmaterials-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.naturalmaterials-links {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.naturalmaterials-navlink {
  left: 413px;
  bottom: -1px;
  position: absolute;
  text-decoration: none;
}
.naturalmaterials-navlink1 {
  left: 17px;
  bottom: -2px;
  position: absolute;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.naturalmaterials-navlink2 {
  text-decoration: none;
}
.naturalmaterials-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.naturalmaterials-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.naturalmaterials-navlink5 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.naturalmaterials-navlink6 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.naturalmaterials-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.naturalmaterials-text {
  font-size: 3rem;
  text-align: center;
}
.naturalmaterials-text1 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.naturalmaterials-gallery {
  width: 100%;
  height: 1000px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
}
.naturalmaterials-container01 {
  flex: 3;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.naturalmaterials-container02 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.naturalmaterials-container03 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-container04 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.naturalmaterials-container04:hover {
  opacity: 1;
}
.naturalmaterials-container05 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.naturalmaterials-container06 {
  flex: 1;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-gallery-card1 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-container07 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.naturalmaterials-container07:hover {
  opacity: 1;
}
.naturalmaterials-image1 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.naturalmaterials-container08 {
  flex: 1;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  flex-direction: column;
}
.naturalmaterials-gallery-card2 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-container09 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.naturalmaterials-container09:hover {
  opacity: 1;
}
.naturalmaterials-container10 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-image2 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.naturalmaterials-container11 {
  flex: 2;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-gallery-card3 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-container12 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.naturalmaterials-container12:hover {
  opacity: 1;
}
.naturalmaterials-container13 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.naturalmaterials-image3 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
@media(max-width: 1600px) {
  .naturalmaterials-navbar-interactive {
    height: 129px;
  }
  .naturalmaterials-links {
    position: relative;
  }
  .naturalmaterials-navlink {
    left: 362px;
    bottom: -1px;
    position: absolute;
    font-style: inherit;
    font-weight: 600;
    text-decoration: none;
  }
  .naturalmaterials-navlink2 {
    top: -13px;
    left: 504px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
  }
  .naturalmaterials-navlink3 {
    top: -16px;
    right: 225px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
  }
  .naturalmaterials-navlink4 {
    top: -14px;
    left: 89px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    text-transform: inherit;
    text-decoration: none;
  }
  .naturalmaterials-navlink5 {
    top: -13px;
    left: 685px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
  }
  .naturalmaterials-navlink6 {
    top: -13px;
    left: 889px;
    position: absolute;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
  }
  .naturalmaterials-text {
    font-size: 3rem;
  }
  .naturalmaterials-text1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 991px) {
  .naturalmaterials-text1 {
    max-width: 100%;
  }
  .naturalmaterials-container11 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .naturalmaterials-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .naturalmaterials-desktop-menu {
    display: none;
  }
  .naturalmaterials-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .naturalmaterials-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .naturalmaterials-gallery {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .naturalmaterials-container02 {
    flex-direction: column;
  }
  .naturalmaterials-gallery-card {
    flex-direction: column;
  }
  .naturalmaterials-gallery-card1 {
    flex-direction: column;
  }
  .naturalmaterials-gallery-card2 {
    flex-direction: column;
  }
  .naturalmaterials-gallery-card3 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .naturalmaterials-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .naturalmaterials-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .naturalmaterials-gallery {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .naturalmaterials-container01 {
    width: auto;
  }
  .naturalmaterials-container04 {
    max-width: auto;
  }
  .naturalmaterials-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .naturalmaterials-container07 {
    max-width: auto;
  }
  .naturalmaterials-image1 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .naturalmaterials-container09 {
    max-width: auto;
  }
  .naturalmaterials-image2 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .naturalmaterials-container12 {
    max-width: auto;
  }
  .naturalmaterials-image3 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
}
